<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      Home
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false">
      Following
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">
      Followers
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active pt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
     {{#each tweets}}
            <div class="media mb-3">
                <img src="{{owner.photo}}" class="mr-3 align-self-center" width="64px" alt="user photo">
                <div class="media-body">
                    <h6 class="mt-0 text-capitalize">{{owner.name}}</h6>
                    <p>{{content}}</p>
                </div>
            </div>
      {{/each}}
  </div>
  <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="profile-tab">
    {{#each userFound.following}}
        <div class="media mb-3">
            <img src="{{photo}}" class="mr-3 align-self-center" width="64px" alt="user photo">
            <div class="media-body">
                <h6 class="mt-0 text-capitalize">{{name}}</h6>
            </div>
        </div>
    {{/each}}
  </div>
  <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="contact-tab">
    {{#each userFound.followers}}
        <div class="media mb-3">
            <img src="{{photo}}" class="mr-3 align-self-center" width="64px" alt="user photo">
            <div class="media-body">
                <h6 class="mt-0 text-capitalize">{{name}}</h6>
            </div>
        </div>
    {{/each}}
  </div>
</div>